@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> userManager;
@inject ILayoutServices services

@{
    AppUser user = User.Identity.IsAuthenticated ? userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin) : null;
    var nowYear = DateTime.UtcNow.Year;
    List<Setting> settings = await services.GetSettingsAsync();
    List<City> cities = await services.GetAllCitiesSearch();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/styles/css/style.css">
    <link rel="stylesheet" href="~/assets/styles/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/styles/css/owl.theme.default.min.css">
    @*Bootstrap  *@
    <link href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" />
    @*Bootstrap  *@
    <link rel="shortcut icon" href="~/uploads/setting/@settings.FirstOrDefault(x => x.Key == "SmallLogoImage")?.Value" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/styles/css/flexslider.css">

    <meta property="og:site_name" content="minimall.az">
    <meta property="og:url" content="https://minimall.az/">
    <meta property="og:type" content="website">
    <meta name="description" content="Minimall.az -  pulsuz elanlar, geniş imkanlar! Heyvanlar, yemlər,ləvazimatlar və s. – azərbaycan'da almaq və satmaq heç vaxt bu qədər asan olmayıb!">
    <meta property="og:description" content="minimall.az – pulsuz elanlar, geniş imkanlar! Heyvanlar, yemlər,ləvazimatlar və s. – azərbaycan'da almaq və satmaq heç vaxt bu qədər asan olmayıb! ">

    @*Google*@
    <meta name="google-site-verification" content="_HwsZ7rlEKZDT8hbyfgwlAhg-si7c6WGYUtqUtcnSAQ" />

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KGM98ZK');</script>
    <!-- End Google Tag Manager -->
    @*google*@


    <meta name="keywords" content=" ev heyvanları üçün ləvazimatlar, ev heyvanları üçün yemlər, iribuynuzlu,Iribuynuzlu, buğa, dana, inək, düyə, buzov, yem, camış, iribuynuzlular üçün ləvazimatlar, digər, Xırdabuynuzlu, quzu, heyvan bazarı, qoyun, qoç, keçi, xırdabuynuzlular üçün ləvazimatlar, digər, ev heyvanları, at, it, pişik, dovşan,
          xamyak, uzunqulaq, qatır, digər, donuz, quşlar, xoruz, toyuq, cücə, göyərcin, bildirçin, qırqovul, ördək, qaz, hinduşka, ot, tutuquşu, tovuzquşu, quşlar üçün ləvazimatlar, quşlar üçün yemlər, digər, Balıqlar, dəniz, cay balıqları, akvarium balıqları balıqlar üçün yem, Ot-yem, arpa, buğda, yarma, qarışıq yemlər, quş yemləri, yonca,
          ev heyvanları üçün yemlər, digər, toxum, gübrə və qatqılar, toxumlar, qatqılar, gübrələr, digər, Topdan ət alış/satış, ət alıram, ət satıram, baş-ayaq, dəri-yun, ciyər, digər, fermalar və meyvə bağları, hazır ferma, icarə ferma, torpaqlar, bağlar, digər, Baytarlıq, baytar həkim, aptek, fermerlərə məsləhətlər, digər,
          Ekoloji təmiz qida, süd, qatıq, qaymaq, pendir, xama, şor,süzmə, yumurta, bal, Yükdaşıma, heyvanların daşınması, ot-yem daşınması, digər , texnika, ferma üçün,
          broyler üçün, əkin işləri üçün, ehtiyat hissələri, xırdavat, digər, iş elanları, qəssab, coban, baxıcı, bağban, gözətçi, digər, ovçuluq, ov silahları, geyim, alətlər, digər, Meyvə-tərəvəz, meyvələr, tərəvəzlər, soyuducu kameralar, digər, inkubator, inkubator üçün avadanlıq, yumurta qoyma, inkubator üçün yümürta, digər, Ağaclar və güllər, ağaclar,
          şitillər, güllər, dekorativ bitkilər, qazon, dekorativ landşaft işləri, digər, ARIÇILIQ, arı yeşikləri, arıçılıq avadanlıqları, bal, digər, CƏRƏZLƏR, qoz, fındıq, şabalıd, badam, digər,">
    <title>@settings.FirstOrDefault(x => x.Key == "Title")?.Value </title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGM98ZK"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @if (TempData["Error"] != null)
    {
        <input type="hidden" id="toaster-error" value="@TempData["Error"]" />
    }
    @if (TempData["Success"] != null)
    {
        <input type="hidden" id="toaster-success" value="@TempData["Success"]" />
    }
    <!-- Header -->
    <header>
        <!-- Header Up Start -->
        <section class="secDisplay" id="headerUp">
            <div class="casket">
                <div class="row">
                    <!-- Head Logo Start -->
                    <div class="col-lg-6 col-md-6  col-6 headLogo">
                        <div class="headImageBox">
                            <a asp-controller="anasehife" asp-action="index">
                                <img src="~/uploads/setting/@settings.FirstOrDefault(x => x.Key == "LogoImage")?.Value" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- Head Logo End -->
                    <!-- Head Login Start -->

                    <div class="col-lg-6 col-md-5  col-6 d-flex justify-content-end align-items-center ">
                        <ul class="headCreateLogin me-2">
                            <li class="headCreateBtn media800">
                                <a asp-controller="elanlar" asp-action="yenielan" class="btn">
                                    <i class="fa-regular fa-square-plus"></i>
                                    <span>Elan yarat</span>
                                </a>
                            </li>
                            <li class="headWishBtn ">
                                <a asp-action="index" asp-controller="sevimliler">
                                    <i class="fa-solid fa-heart"></i>
                                </a>
                            </li>
                            @if (user != null && user.IsAdmin == false)
                            {

                                <li class="headUser">
                                    <div class="dropdown">
                                        <button class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i style=" margin-right: 2px; color: #32CD32; font-size: 23px; " class="fa-solid fa-circle-user"></i>
                                            @if (user?.Name != null)
                                            {
                                                <span style=" color: gray; font-size: 18px; ">

                                                    @(user.Name.Length>8?(user.Name.Substring(0,8)):(user.Name))
                                                </span>

                                            }
                                            else
                                            {
                                                <span style=" color: gray; font-size: 18px; ">
                                                    Profile
                                                </span>

                                            }
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="headUser mb-2">
                                                <a style=" display: flex !important; flex-direction: row; justify-content: center; align-items: center; " asp-action="index" asp-controller="profile">
                                                    <i class="fa-solid fa-circle-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>
                                            <li class="headLogin">
                                                <a style=" display: flex !important; flex-direction: row; justify-content: center; align-items: center; " asp-action="logout" asp-controller="profile">
                                                    <i class="fa-solid fa-circle-right"></i>
                                                    <span>Çıxış</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            }
                            else
                            {
                                <li class="headLogin">
                                    <a asp-action="daxilol" asp-controller="profile">
                                        <i class="fa-solid fa-circle-user"></i>
                                        <span>Giriş</span>
                                    </a>
                                </li>
                            }



                        </ul>
                    </div>
                    <!-- Head Login End -->
                </div>
            </div>
        </section>
        <!-- Header Up Start -->
        <!-- Head Search Start -->
        <section class="secDisplay " id="headSearch">
            <div class="casket">
                <div class="row">
                    <div class="col-lg-11 col-md-10 col-sm-11 headSearch">
                        <form asp-action="axtaris" asp-controller="elanlar">
                            <div class="col-1 d-flex justify-content-end">
                                <a>
                                    <i class=" fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6  col-6 ">
                                <input placeholder="Axtarış" type="text" name="posterName" class="form-control">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-2 media800">
                                <select name="cityId" class="form-select">
                                    <option selected disabled>Şəhər</option>
                                    @foreach (var city in cities)
                                    {
                                        <option value="@city.Id">@city.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                <button type="submit" class="ms-5 btn">Axtar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
        <!-- Head Search End -->
        <!-- TabBar Start -->
        <section class=" mediaB800" id="tabBar">
            <ul class="tabBar-ul">
                <li class="tabBar-li tabBar-li-main">
                    <a class="tabBar-link" asp-controller="anasehife" asp-action="index">
                        <i class="tabBar-icon fa-solid fa-house"></i>
                        <span class="tabBar-text">Əsas</span>
                    </a>
                </li>
                <li class="tabBar-li tabBar-li-rules">
                    <a class="tabBar-link" asp-action="index" asp-controller="istifadecisertleri">
                        @*<i class="tabBar-icon fa-solid fa-circle-info"></i>*@
                        <i class="tabBar-icon fa-regular fa-circle-question"></i>
                        <span class="tabBar-text">Qaydalar</span>
                    </a>
                </li>
                <li class="tabBar-addIcon tabBar-li-addIcon">
                    <a class="tabBar-link" asp-controller="elanlar" asp-action="yenielan">
                        <i class=" tabBar-icon fa-solid fa-plus"></i>
                        <span class="tabBar-text">Yeni Elan</span>
                    </a>
                </li>
                <li class="tabBar-li tabBar-li-contact">
                    <a class="tabBar-link" asp-action="index" asp-controller="sevimliler">
                        <i class=" tabBar-icon fa-solid fa-heart"></i>
                        <span class="tabBar-text">Sevimlilər</span>
                    </a>
                </li>
                <li class="tabBar-li tabBar-li-login">
                    @if (user != null && user.IsAdmin == false)
                    {
                        <a class="tabBar-link" asp-action="index" asp-controller="profile">
                            <i class="tabBar-icon fa-solid fa-circle-user"></i>

                            @if (user?.Name != null)
                            {
                                <span class="tabBar-text">

                                    @(user.Name.Length>6?(user.Name.Substring(0,6)):(user.Name))
                                </span>
                            }
                            else
                            {
                                <span class="tabBar-text">
                                    Profile
                                </span>
                            }



                        </a>
                    }
                    else
                    {
                        <a class="tabBar-link me-2" asp-action="daxilol" asp-controller="profile">
                            <i class="tabBar-icon fa-solid fa-circle-user"></i>
                            <span class="tabBar-text">Giriş</span>
                        </a>
                    }
            </ul>
        </section>
        <!-- TabBar End -->
    </header>
    <!-- Header -->
    @RenderBody()


    <!-- Footer -->
    <footer>

        <!-- Section: Links  -->
        <section id="footerInfo">
            <div class="container">
                <!-- Grid row -->
                <div class="row justify-content-center ">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="col-12 footerCol row">
                            <!-- Grid column -->
                            <div class="footerPage    col-lg-3 col-md-3 col-6   ">
                                <!-- Links -->
                                <h5 class="text-uppercase fw-bold ">
                                    SƏHİFƏ
                                </h5>
                                <p>
                                    <a asp-controller="anasehife" asp-action="index">Ana səhifə</a>
                                </p>
                                <p>
                                    <a asp-action="daxilol" asp-controller="profile">Daxil ol</a>
                                </p>
                                <p>
                                    <a asp-controller="elanlar" asp-action="yenielan">Yeni Elan</a>
                                </p>

                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="footerInformation  col-lg-3 col-md-3 col-6 ">
                                <!-- Links -->
                                <h5 class="text-uppercase fw-bold ">
                                    İnformasİya
                                </h5>
                                <p>
                                    <a asp-action="index" asp-controller="istifadecisertleri">
                                        İstifadə
                                        qaydaları
                                    </a>
                                </p>
                                <p>
                                    <a asp-action="index" asp-controller="sevimliler">Sevimlilər</a>
                                </p>


                                <p>
                                    <a asp-action="index" asp-controller="bizimleelaqe">Əlaqə</a>
                                </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="footerContact   col-lg-3 col-md-4 col-sm-12 ">
                                <!-- Links -->
                                <h5 class="text-uppercase fw-bold ">Əlaqə</h5>
                                <p>
                                    <i class="fas fa-home me-3"></i>
                                    <span>@settings.FirstOrDefault(x => x.Key == "FooterLocation")?.Value </span>
                                </p>
                                <p>
                                    <i class="fas fa-envelope me-3"></i>
                                    <a href="mailto:"> @settings.FirstOrDefault(x => x.Key == "FooterEmail")?.Value </a>
                                </p>
                                <p>
                                    <i class="fas fa-phone me-3"></i>
                                    <a href="tel:@settings.FirstOrDefault(x => x.Key == "FooterNumber")?.Value ">
                                        @settings.FirstOrDefault(x => x.Key == "FooterNumber")?.Value
                                    </a>
                                </p>
                            </div>
                            <!-- Grid column -->
                        </div>

                    </div>
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright Start -->
        <section id="footerCopyright">
            <div class="casket">
                <div class="row">
                    <div class="col-12 copyRightBox">
                        <p>© @nowYear, @settings.FirstOrDefault(x => x.Key == "CopyRight")?.Value </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Copyright End -->

    </footer>
    <!-- Footer -->


    <script src="~/plugins/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/Wishlist.js"></script>
    @*toastr*@
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(document).ready(function () {
            if ($("#toaster-error").length) {
                console.log($("#toaster-error"))
                toastr["error"]($("#toaster-error").val())
            }
            if ($("#toaster-success").length) {
                console.log($("#toaster-success"))
                toastr["success"]($("#toaster-success").val())
            }
        })
    </script>

    @RenderSection("Scripts", required: false)

</body>

</html>