@model ElanDetailViewModel


@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> userManager;
@{
    AppUser user = User.Identity.IsAuthenticated ? userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin) : null;
    int count = 0;

    DateTime now = DateTime.UtcNow;
}
<div class="modal fade" id="PremiumServiceModal" tabindex="-1" aria-labelledby="PremiumServiceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    <i class="fa-solid fa-crown"></i>
                    Premium et
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    Elanınız ana səhifədəki və axtarış nəticələrindəki Premium bölməsində təsadüfi qaydada
                    göstəriləcək.
                </p>
                @if (Model.Poster.PosterFeatures.ExpirationDatePremium > now)
                {
                    <p>
                        Elanınız hal hazırda premiumdur. 
                    </p>
                }
                <hr>
                <h1>XİDMƏTİN MÜDDƏTİ</h1>
                <hr />
                @*Premium Form*@
                <form asp-controller="notfound" asp-action="index" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" style="color:red;"></div>

                    <div class="formBody">
                        @foreach (var duration in Model.ServiceDurations.Where(x => x.ServiceType == ServiceType.Premium))
                        {
                            <div class="form-check">
                                <input asp-for="PaymentCreateDto.DurationServicesId" value="@duration.Id" class="form-check-input" type="radio">
                                <label class="form-check-label">@duration.Duration gün / @duration.Amount AZN</label>
                                <input type="hidden" asp-for="PaymentCreateDto.PosterStatus" value="@Model.Poster.PosterFeatures.PosterStatus" />
                            </div>
                            <div class="d-none">  @(count= count + 1)</div>
                        }
                    </div>
                    <hr>


                    <h1>ÖDƏNİŞ ÜSULU</h1>
                    <hr>
                    <div class="formBody">
                        <div class="form-check">
                            <input asp-for="PaymentCreateDto.Source" value="@Source.BankCard" class="form-check-input" type="radio" checked>
                            <label class="form-check-label">Bank kartı</label>
                        </div>
                        @if (user != null)
                        {
                            <div class="form-check">
                                <input asp-for="PaymentCreateDto.Source" value="@Source.Balance" class="form-check-input" type="radio">
                                <label class="form-check-label">Hesab Balansı</label>

                            </div>
                            <input type="hidden" asp-for="PaymentCreateDto.AppUserId" value="@user.Id" />

                        }

                    </div>
                    <input type="hidden" asp-for="PaymentCreateDto.PosterId" value="@Model.Poster.Id" />
                    <input type="hidden" asp-for="PaymentCreateDto.ServiceType" value="@ServiceType.Premium" />
                    <input type="hidden" asp-for="PaymentCreateDto.Services" value="@PaymentService.PosterPayment" />
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">ÖDƏ</button>
                    </div>
                </form>
                @*Premium Form*@

            </div>

        </div>
    </div>
</div>