@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> userManager;
@{
    ViewData["Title"] = "Elan";
    var i = 1;
    var c = 1;
    var posterFeature = Model.Poster.PosterFeatures;
    AppUser user = User.Identity.IsAuthenticated ? userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin) : null;
    int count = 0;
    DateTime now = DateTime.UtcNow;

}


@model ElanDetailViewModel




<main>
    <!-- Bread Crumb  Start -->
    <section class="secDisplay" id="breadCrumbs">
        <div class="casket">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-9 col-sm-9 col-9 ">
                    <div class="breadCrumbBox">
                        <ul>
                            <li>
                                <a asp-action="index" asp-controller="anasehife">
                                    <span>
                                        Ana Səhifə
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="axtaris" asp-controller="elanlar" asp-route-categoryId="@posterFeature.SubCategory.Category.Id">
                                    <span>
                                        @posterFeature.SubCategory.Category.Name
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="axtaris" asp-controller="elanlar" asp-route-subCategoryId="@posterFeature.SubCategoryId">
                                    <span>
                                        @posterFeature.SubCategory.Name

                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Bread Crumb End -->
    <!-- FlexSlider   Start -->
    <section id="flexSlider">
        <div class=" container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 col-sm-8">
                    <div class="flexSliderBox">
                        <div id="slider" class="flexslider">

                            <ul class="slides">
                                @if (Model.Poster.PosterImages.FirstOrDefault(x => x.IsDelete == false) != null)
                                {
                                    @foreach (var item in Model.Poster.PosterImages)
                                    {

                                        <li>
                                            <img onclick="openModal();currentSlide(@i)" src="~/uploads/poster/@item.Image" class="hover-shadow" />
                                        </li>
                                        <div class="d-none">  @(i = i + 1)</div>

                                    }
                                }

                                @*<li>
                                        <img onclick="openModal();currentSlide(1)"
                                             src="~/assets/Images/inek1.jpg" />
                                    </li>
                                    <li>
                                        <img onclick="openModal();currentSlide(2)" class="hover-shadow"
                                             src="~/assets/Images/inek2.jpg" />
                                    </li>
                                    <li>
                                        <img onclick="openModal();currentSlide(2)" class="hover-shadow"
                                             src="~/assets/Images/inek3.jpg" />
                                    </li>*@
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">

                                @foreach (var item in Model.Poster.PosterImages.Where(x => x.IsDelete == false))
                                {

                                    <li>
                                        <img src="~/uploads/poster/@item.Image" />
                                    </li>

                                }



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  FlexSlider  End -->
    <!-- FlexSliderModal   Start -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            @foreach (var item in Model.Poster.PosterImages.Where(x => x.IsDelete == false))
            {

                <div class="mySlides">
                    <div class="numbertext">@(c) / @Model.Poster.PosterImages.Count</div>
                    <img src="~/uploads/poster/@item.Image" />
                </div>
                <div class="d-none">@(c = c + 1);</div>

            }
            <!-- Next/previous controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
    <!-- FlexSliderModal   End -->
    <!-- posterInfoUpBox   Start -->
    <section id="posterInfoUpBox">
        <div class=" container">
            <div class="row justify-content-center">
                <div class="posterInfo col-lg-8 col-md-10 col-sm-12">
                    <div class="col-lg-3 col-md-3 col-sm-4 posterPriceBox">
                        <p style="border-radius:12px;">
                            @String.Format("{0:0.##}", posterFeature.Price)
                            <span style=" padding-left:5px;color: #fff; font-size: 26px;  font-weight: 700; background-color: green;">
                                @(posterFeature.PriceCurrency?"USD":"AZN" )
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-9 col-md-12 posterTitleBox">
                        <div class="titleBox">
                            <h3>
                                @posterFeature.Name

                            </h3>
                        </div>
                    </div>

                </div>
                @if (posterFeature.PosterStatus == PosterStatus.Active)
                {
                    <div class="posterService col-lg-8 col-md-10 col-sm-12">
                        <div class="col-lg-12 colInfo">
                            <div class="detailServiceBox row">
                                <div class="col-lg-5 col-md-6 col-sm-8 detailServiceButton">

                                    @if (posterFeature.ExpirationDateVip < now)
                                    {
                                        <button data-bs-toggle="modal" data-bs-target="#vipServiceModal" class="btn">
                                            <i class="fa-brands fa-sketch"></i>
                                            <span>
                                                <span class="serviceWord me-1">Elanı VIP et </span>
                                                @Model.ServiceDurations.Where(x => !x.IsDelete && x.ServiceType == ServiceType.Vip).FirstOrDefault(x => x.Id == 1).Amount AZN-dən
                                            </span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button style="background-color:green" data-bs-toggle="modal" data-bs-target="#vipServiceModal" class="btn">
                                            <i style="color:whitesmoke;" class="fa-brands fa-sketch"></i>
                                            <span>
                                                <span style="color:white;" class="serviceWord"> VIP Elan </span>

                                            </span>
                                        </button>
                                    }

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-8  detailServiceButton">
                                    @if (posterFeature.ExpirationDatePremium < now)
                                    {
                                        <button data-bs-toggle="modal" data-bs-target="#PremiumServiceModal"
                                                class="preButton btn ">
                                            <i class="fa-solid fa-crown"></i>
                                            <span>
                                                <span class="serviceWord">Elanı Premium et</span>
                                                @Model.ServiceDurations.Where(x => !x.IsDelete && x.ServiceType == ServiceType.Premium).FirstOrDefault(x => x.Id == 4)?.Amount AZN-dən
                                            </span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button style="background-color:green" data-bs-toggle="modal" data-bs-target="#PremiumServiceModal"
                                                class="preButton btn ">
                                            <i style="color:whitesmoke;" class="fa-solid fa-crown"></i>
                                            <span>
                                                <span style="color:white;" class="serviceWord">Elanı Premium et</span>
                                            </span>
                                        </button>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (posterFeature.PosterStatus == PosterStatus.Waiting)
                {
                    <div class="posterStatusInfoBox" style=" background: #32CD32; display: flex; justify-content: center; align-items: center; padding: 20px 0px; ">
                        <h2 style=" color: whitesmoke; font-weight: 500; margin-bottom:0px; text-align:center; ">
                            Elan əlavə olunub və moderatör tərəfindən yoxlanışı gözləyir.
                        </h2>
                    </div>
                }
                @if (posterFeature.PosterStatus == PosterStatus.Disabled)
                {
                    <div class="posterStatusInfoBox" style=" background: #ff0000c2; display: flex; justify-content: center; align-items: center; padding: 20px 0px; ">
                        <h2 style=" color: whitesmoke; font-weight: 500; margin-bottom:0px; text-align:center; ">
                            Elan yoxlamadan keçmədi və dərc olunmuyacaq.
                        </h2>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--  posterInfoUpBox  End -->
    <!-- Vip Service Modal Start -->
    @await Html.PartialAsync("_VipServiceModalPartial", Model)
    <!-- Vip Service modal End -->
    <!-- Premium Service Modal Start -->
    @await Html.PartialAsync("_premiumServiceModalPartial", Model)

    <!-- Premium Service modal End -->
    <!-- Poster Down Box   Start -->
    <section id="posterInfoDownBox">
        <div class=" container">
            <div class="row justify-content-center">
                <div class=" col-lg-8 col-md-12 col-sm-12 posterInfo row ">
                    <div class="col-lg-4 col-md-6 col-sm-6 posterFeaturesBox">
                        <div class="posterFeatures">
                            <p>
                                Şəhər:
                                <a asp-action="axtaris" asp-controller="elanlar" asp-route-cityId="@posterFeature.City.Id">
                                    <span>@posterFeature.City.Name</span>
                                </a>
                            </p>


                            <p>
                                Elanın kategorisi:
                                <a asp-action="axtaris" asp-controller="elanlar" asp-route-categoryId="@posterFeature.SubCategory.Category.Id"><span>@posterFeature.SubCategory.Category.Name</span></a>
                            </p>
                            <p>
                                Elanın növü:<a asp-action="axtaris" asp-controller="elanlar" asp-route-subCategoryId="@posterFeature.SubCategoryId"><span>@posterFeature.SubCategory.Name</span></a>
                            </p>
                            <p>
                                Çatdırılma:<span>@(posterFeature.IsShipping? "Bəli":"Xeyr")</span>
                            </p>
                            <p>
                                Yeni:<span>@(posterFeature.IsNew? "Bəli":"Xeyr")</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 posterAuthorView">
                        <div class="posterViewTimeInfo">
                            <p>
                                Elanın nömrəsi:
                                <span>@Model.Poster.Id</span>
                            </p>
                            <p>
                                Baxışların sayı:
                                <span>@posterFeature.ViewCount</span>
                            </p>
                            <p>
                                Seçilmişlərdə:
                                <span>@Model.WishCount</span>
                            </p>
                            <p>
                                Yeniləndi:
                                <span>@posterFeature.ModifiedDate</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 posterAuthor">
                        <div class="posterAuthorLink">
                            <span class="authorName">@Model.User.AppUser.Name</span>
                            <a asp-action="IstifadecininElanlari" asp-controller="elanlar" asp-route-phoneNumber="@posterFeature.PhoneNumber" class="authorPosters">İstifadəçinin bütün elanları</a>
                        </div>

                        <div class="posterWishIconBox">
                            <a asp-action="addwishlist" asp-controller="elanlar" asp-route-id="@Model.Poster.Id" class="addWish">
                                <i class="wishIcon fa-solid fa-heart"></i>
                                <!-- <i class="wishIconActive fa-solid fa-heart"></i> -->
                            </a>
                        </div>

                        <div class="authorNumbersBox">
                            <div class="authorNumbers">
                                <div class="authorNumber">
                                    <a href="tel:@posterFeature.PhoneNumber">
                                        <i class="fa-solid fa-phone"></i>
                                        <span class="authorNumberLink"> @posterFeature.PhoneNumber</span>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Poster Down Box  End -->
    <!--  Warning Message  Start -->
    <section id="warningMessage">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <div class="warningMessageBox">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <p>
                            Xəbərdarlıq!
                            <span>
                                Məhsul sahibi ilə real görüşərək, ödəniş mərhələsini tamamlamağınız məsləhət
                                görülür! Dələduzluq və başqa xoşa gəlməz hadisələrin olmaması üçün alqı-satqını
                                ciddi şəkildə etməyiniz sizin üçün əhəmiyyətlidir!
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Warning Message  End -->
    <!-- posterDescribe   Start -->
    <section id="posterDescribe">
        <div class=" container">
            <div class="row justify-content-center">
                <div class="describeTitle col-lg-8 col-md-12 col-sm-12">
                    <h3>Elanın təsviri</h3>
                </div>
                <div class="describes col-lg-8 col-md-12 col-sm-12">
                    <p>
                        @posterFeature.Describe

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--  posterDescribe  End -->
    <!-- detailSlider   Start -->
    <section id="detailSlider">
        <div class="container">
            <div class="row justify-content-center">
                <div class=" col-lg-8 col-md-12 col-sm-12">
                    @if (Model.SimilarPosters.Count != 0)
                    {
                        <div class="owl-carousel owl-theme owl-carousel-detail">
                            @foreach (var poster in Model.SimilarPosters)
                            {
                                <div class="item">
                                    <div class="sliderImageBox">
                                        <a asp-action="elan" asp-route-id="@poster.Id">
                                            <img class="img-fluid"
                                                 src="~/uploads/poster/@poster.PosterImages.FirstOrDefault(x => x.IsPoster == true)?.Image"
                                                 alt="~/uploads/poster/@poster.PosterImages.FirstOrDefault(x => x.IsPoster == true)?.Image">
                                        </a>
                                    </div>
                                    <div class="itemDown">
                                        <div class="itemPrice">
                                            <a asp-action="elan" asp-route-id="@poster.Id">

                                                <span>@poster.PosterFeatures.Price  @(!poster.PosterFeatures.PriceCurrency?("AZN"):("USD"))</span>

                                            </a>
                                        </div>
                                        <div class="itemTitle">
                                            <a asp-action="elan" asp-route-id="@poster.Id">
                                                <h2>
                                                    @poster.PosterFeatures.Name
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="itemDate">
                                            <a asp-action="elan" asp-route-id="@poster.Id">
                                                <span>
                                                    @poster.PosterFeatures.City.Name, @poster.PosterFeatures.ModifiedDate
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        <h3 style=" color: gray; font-size: 22px; text-align: center; ">Bu elana oxşar elan mövcud deyil</h3>
                    }
                </div>
            </div>
        </div>
    </section>
    <!--  detailSlider  End -->

</main>





@section Scripts{

    @*<script src="~/assets/js/owlCarouselSetting.js"></script>*@

    <script src="~/assets/js/owl.carousel.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/productDetailOwl.js"></script>
    <script src="~/assets/js/productImageModel.js"></script>

    <!-- FlexSlider -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="~/assets/js/jquery.flexslider-min.js"></script>
    <script src="~/assets/js/jquery.flexslider.js"></script>
    <script src="~/assets/js/productDetail.js"></script>

}