
@{
    ViewData["Title"] = "YeniElan";
}

@model PosterCreateViewModels
<main>
    <!-- Bread Crumb  Start -->
    <section class="secDisplay" id="breadCrumbs">
        <div class="casket">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-9 col-sm-9 col-9 ">
                    <div class="breadCrumbBox">
                        <ul>
                            <li>
                                <a href="../pages/main.html">
                                    <span>
                                        Ana Səhifə
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>
                                        Elan yaratmaq
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Bread Crumb End -->
    <!-- Create Poster   Start -->
    <section id="createPoster">
        <div class="container">
            <div class="row justify-content-center">
                <div class=" formBox  col-lg-8 col-md-12 col-sm-12 ">
                    <h1>Yeni Elan</h1>
                    <form class="form-control" asp-action="yenielan" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" style="color:red;">

                        </div>

                        <!-- Poster Kategoriya Start -->
                        <div class=" mb-3 posterCategorys">
                            <label class="  form-label">Kategoriya*</label>
                            <select asp-for="PosterCreateDto.SubCategoryId" asp class="form-select">
                                <option disabled selected>Siyahıdan seçin</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <optgroup label="@category.Name"> </optgroup>
                                    @foreach (var subCategory in Model.SubCategories.Where(x => x.CategoryId == category.Id))
                                    {
                                        <option value="@subCategory.Id">@subCategory.Name </option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="PosterCreateDto.SubCategoryId" class="text-danger"></span>
                        </div>
                        <!-- Poster Kategoriya End -->
                        <!-- Poster  Start -->
                        <div class="mb-3 posterName">
                            <label asp-for="PosterCreateDto.PosterName" class="form-label">Elanın adı*</label>
                            <input asp-for="PosterCreateDto.PosterName" maxlength="100" type="text" class="form-control">
                            <span asp-validation-for="PosterCreateDto.PosterName" class="text-danger"></span>
                        </div>
                        <!-- Poster   End -->
                        <!-- Poster Price  Start -->
                        <div class="mb-3 posterPriceBox">
                            <label class="form-label">Qiymət*</label>

                            <div class="posterPrice">
                                <div>
                                    <input placeholder="0,00" asp-for="PosterCreateDto.Price" title="" value="" min="0" max="9999999" type="text"
                                           class="form-control posterPriceInput">
                                    <span asp-validation-for="PosterCreateDto.Price" class="text-danger"></span>
                                </div>

                                <div class="posterPriceCurrency">
                                    <div class="form-check ">
                                        <input asp-for="PosterCreateDto.PriceCurrency" class="form-check-input" type="radio"
                                               value="false">
                                        <label class="form-check-label" for="exampleRadios1">
                                            AZN, ₼
                                        </label>
                                    </div>
                                    <div class="form-check ">
                                        <input asp-for="PosterCreateDto.PriceCurrency" class="form-check-input" type="radio"
                                               value="true">
                                        <label class="form-check-label" for="exampleRadios2">
                                            USD, $
                                        </label>
                                    </div>
                                    <span asp-validation-for="PosterCreateDto.PriceCurrency" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <!-- Poster Price  End -->
                        <!-- Poster Price  Start -->
                      
                        <div class="row">

                            @* Çatdirilma *@
                            <div class="col-3 d-flex align-items-center">
                                <input style="margin-right:4px; margin-top:0px !important;" class="form-check-input" asp-for="@Model.PosterCreateDto.IsShipping" placeholder="...." />
                                <span style="font-size:17px; font-weight:700" class="d-flex align-items-center">Çatdırılma</span>
                                <span asp-validation-for="@Model.PosterCreateDto.IsShipping" class="text-danger"></span>
                            </div>
                            @* Çatdirilma *@

                            @* Yeni-Kohne *@
                            <div class="col-3 d-flex align-items-center">
                                <input style="margin-right: 4px; margin-top: 0px !important;" class="form-check-input" asp-for="@Model.PosterCreateDto.IsNew" placeholder="...." />
                                <span  style="font-size:17px; font-weight:700" class="d-flex align-items-center">Yeni</span>
                                <span asp-validation-for="@Model.PosterCreateDto.IsNew" class="text-danger"></span>
                            </div>
                            @* Yeni-Kohne *@
                        </div>

                        <!-- Poster Price  End -->
                        <!-- Poster City Start -->
                        <div class="mb-3 posterCitys">
                            <label class="form-label">Şəhər*</label>
                            <select asp-for="PosterCreateDto.CityId" class="form-select">
                                @foreach (var city in Model.Cities)
                                {
                                    if (city.Name == "Bakı")
                                    {
                                        <option selected="selected" value="@city.Id">@city.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@city.Id">@city.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="PosterCreateDto.CityId" class="text-danger"></span>

                        </div>
                        <!-- Poster City End -->
                        <!-- Poster Describe  Start -->
                        <div class="mb-3 posterDescribe">
                            <label class="form-label">Məzmun</label>
                            <textarea asp-for="PosterCreateDto.Describe" class="form-control" maxlength="3000" type="text" cols="10"
                                      rows="7"></textarea>
                            <span asp-validation-for="PosterCreateDto.Describe" class="text-danger"></span>

                        </div>
                        <!-- Poster Describe End -->
                        <!-- Poster Image  Start -->
                        <div class="mb-3 posterImages">
                            <label asp-for="PosterCreateDto.ImageFiles" class="form-label">Elanın Şəkillər*</label>
                            <!-- Şəkil əlavə et -->
                            <input asp-for="PosterCreateDto.ImageFiles" id="imageInput" type="file" accept="image/png,  image/jpeg"
                                   class="form-control" multiple="">
                            <div>
                                <p id="imageErrorMessage" class="fw-bold "></p>
                                <span asp-validation-for="PosterCreateDto.ImageFiles" class="text-danger"></span>
                            </div>
                            <div class="row" id="temperoryImages"></div>
                        </div>
                        <!-- Poster Image End -->
                        <!-- Poster User  Start -->
                        <div class="mb-3 posterUser">
                            <div class="mb-3 posterName">
                                <label asp-for="PosterCreateDto.UserName" class="form-label">Adınız*</label>
                                <input asp-for="PosterCreateDto.UserName" placeholder="Elnur Ibrahimli" maxlength="100" type="text"
                                       class="form-control">
                                <span asp-validation-for="PosterCreateDto.UserName" class="text-danger"></span>

                            </div>
                            <div class="mb-3 posterEmail">
                                <label asp-for="PosterCreateDto.Email" class="form-label">Emailiniz</label>
                                <input asp-for="PosterCreateDto.Email" placeholder="nümünə@gmail.com" maxlength="100" type="email"
                                       class="form-control">
                                <span asp-validation-for="PosterCreateDto.Email" class="text-danger"></span>

                            </div>
                            <div class="mb-3 posterPhone">
                                <label asp-for="PosterCreateDto.PhoneNumber" class="form-label">Nömrəniz*</label>
                                <input asp-for="PosterCreateDto.PhoneNumber" class="form-control " placeholder="(077) 777-77-77" type="text" id="phone">
                                <span asp-validation-for="PosterCreateDto.PhoneNumber" class="text-danger"></span>

                            </div>
                        </div>
                        <!-- Poster User End -->
                        <!-- Button  Start -->
                        <div class="mb-3 posterButton text-end">
                            <button type="submit" class="btn ">Əlavə et</button>
                        </div>
                        <!-- Button  Start -->

                    </form>
                </div>

            </div>
        </div>
    </section>
    <!--  Create Poster  End -->
</main>

@section Scripts{
    <script src="~/assets/js/imagePreview.js"></script>
    <script src="~/assets/js/numberRegex.js"></script>
}




