
@{ ViewData["Title"] = "AnaSəhifə"; }
@model AnaSehifeViewModel
<main>

    <!-- Catagory Slider Start -->
    <section id="categorySlider">
        <div class=" container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="categoryTitle">
                        <h3>Kateqoriyalar</h3>
                    </div>
                    <div class="owl-carousel ">
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Alətlər">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-fish-fins"></i>
                                    </div>
                                    <h3>Balıqlar</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Traktor">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-tractor"></i>
                                    </div>
                                    <h3>Texnika və Avadanlıq</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Alətlər">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-dog"></i>
                                    </div>
                                    <h3>Ev Heyvanları</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Traktor">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-cow"></i>
                                    </div>
                                    <h3>İribuynuzlu</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Alətlər">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-wheat-awn"></i>
                                    </div>
                                    <h3>Ot-Yem</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Traktor">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-cart-shopping"></i>

                                    </div>
                                    <h3>Topdan ət alış/satış</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Alətlər">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-screwdriver-wrench"></i>
                                    </div>
                                    <h3>İş elanları</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Traktor">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-prescription-bottle-medical"></i>
                                    </div>
                                    <h3>Ekoloji təmiz qida</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Traktor">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-egg"></i>
                                    </div>
                                    <h3>Inkubator</h3>
                                </a>
                            </div>
                        </div>
                        <div id="carouselBox">
                            <div class="item">
                                <a href="#" title="Traktor">
                                    <div class="iconBox">
                                        <i class="fa-solid fa-tree"></i>
                                    </div>
                                    <h3>Ağaclar və güllər</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Catagory Slider End -->
    <!-- VipPoster Start -->

    <section id="posters">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-11 col-sm-12">
                    <div class="col-12 posterTitleBoxCol">
                        <div class="posterTitleBox">
                            <h3>Vip Elanlar</h3>
                        </div>
                    </div>
                    <div class="col-12 posterBoxs row  ">
                        <!--<div class="posterColBox col-lg-3 col-md-4 col-6 ">
                            <div class="posterBox">

                                <div class="posterImageBox">
                                    <a href="detail.html">
                                        <img src="~/assets/Images/inek1.jpg" alt="">
                                    </a>
                                    <div class="posterVipIconBox">
                                        <a href="detail.html">
                                            <i class="fa-brands fa-sketch"></i>
                                        </a>
                                    </div>
                                    <div class="posterQueenIconBox">
                                        <a href="detail.html">
                                            <i class="fa-solid fa-crown"></i>
                                        </a>
                                    </div>
                                    <div class="posterWishIconBox">
                                        <a href="#">
                                            <i class="wishIcon fa-solid fa-heart"></i>-->
                        <!-- <i class="wishIconActive fa-solid fa-heart"></i> -->
                        <!--</a>
                                    </div>
                                </div>
                                <div class="posterDetailBox">
                                    <div class="posterPriceBox">
                                        <a href="detail.html">
                                            <span>250 AZN</span>
                                        </a>
                                    </div>

                                    <div class="posterNameBox">
                                        <a href="detail.html">
                                            <h4>
                                                Inek satılır
                                                Inek satılır
                                                Inek satılır
                                                Inek satılır
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="posterCreatedBox">
                                        <a href="detail.html">
                                            <span> Bakı, 16 fevral 2023</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- VipPoster End -->
    <!-- Last Poster Start -->
    <section id="posters" class="posters">
        <div class="container">
            <div class="posterRow row justify-content-center ">
                <div class="col-lg-10 col-md-11 col-sm-12">
                    <div class="col-12 posterTitleBoxCol">
                        <div class="posterTitleBox">
                            <h3>Son Elanlar</h3>
                        </div>
                    </div>
                    <div class="col-12 posterBoxs row  ">
                        @foreach (var posterAll in Model.Posters)
                        {

            <div class="posterColBox col-lg-3 col-md-4 col-6 ">
                <div class="posterBox">
                    <div class="posterImageBox">
                        <a asp-action="elan" asp-controller="elanlar"  asp-route-id="@posterAll.Id">
                            <img src="~/uploads/poster/@posterAll.PosterImages.FirstOrDefault(x => x.IsPoster == true)?.Image" alt="">
                        </a>
                        @if (posterAll.PosterFeatures.IsVip)
                        {
        <div class="posterVipIconBox">
            <a asp-action="elan" asp-controller="elanlar"  asp-route-id="@posterAll.Id">
                <i class="fa-brands fa-sketch"></i>
            </a>
        </div>}
                        @if (posterAll.PosterFeatures.IsPremium)
                        {
        <div class="posterQueenIconBox">
            <a asp-action="elan" asp-controller="elanlar"  asp-route-id="@posterAll.Id">
                <i class="fa-solid fa-crown"></i>
            </a>
        </div>}

                        <div class="posterWishIconBox">

                            <a asp-action="addwish" asp-controller="poster" asp-route-id="@posterAll.Id">
                                <i class="wishIcon fa-solid fa-heart"></i>
                                <!-- <i class="wishIconActive fa-solid fa-heart"></i> -->
                            </a>
                        </div>
                    </div>
                    <div class="posterDetailBox">
                        <div class="posterPriceBox">
                            <a asp-action="elan" asp-controller="elanlar"  asp-route-id="@posterAll.Id">
                                <span>@posterAll.PosterFeatures.Price  @(!posterAll.PosterFeatures.PriceCurrency?("AZN"):("USD"))</span>
                            </a>
                        </div>

                        <div class="posterNameBox">
                            <a asp-action="elan" asp-controller="elanlar"  asp-route-id="@posterAll.Id">
                                <h4>
                                    @posterAll.PosterFeatures.Name
                                </h4>
                            </a>
                        </div>
                        <div class="posterCreatedBox">
                            <a asp-action="elan" asp-controller="elanlar"  asp-route-id="@posterAll.Id">
                                <span> @posterAll.PosterFeatures.City.Name, @posterAll.PosterFeatures.CreatedDate.ToString("dd MMM yyyy") </span>


                            </a>
                        </div>
                    </div>
                </div>
            </div>}

                    </div>
                </div>
            </div>
            <div class="row navRow  justify-content-center ">
                <div class="col-lg-10 col-md-11 col-sm-12">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <span class="page-link">Əvvəl</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <span class="page-link">
                                    2
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Sonra</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Last Poster End -->

</main>