
@{
    ViewData["Title"] = "Index";
    DateTime now = DateTime.UtcNow;

}
@model PosterPaymentViewModel
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Ödənişlər </span>Elan ödənişləri </h4>


        <!-- Bordered Table -->
        <div class="card">
            <div class="card-body">
                @* Pagination *@
                <div class="row">
                    <form asp-action="index" asp-controller="posterpayments" asp-route-page="@ViewBag.Page" class="row d-flex">

                        <div class="d-flex align-items-center col-lg-3 col-md-4 col-sm-6 mb-2">
                            <select name="year" class="form-select">
                                <option disabled selected>Siyahıdan seçin</option>
                                <option value="2023">2023 </option>
                                <option value="2024">2024 </option>
                                <option value="2025">2025 </option>
                                <option value="2026">2026 </option>
                                <option value="2027">2027 </option>
                            </select>
                        </div>

                        <div class="d-flex align-items-center col-lg-3 col-md-4 col-sm-6 mb-2">
                            <select name="month" class="form-select">
                                <option disabled selected>Siyahıdan seçin</option>
                                <option value="1">Yanvar </option>
                                <option value="2">Fevral </option>
                                <option value="3">Mart </option>
                                <option value="4">Aprel </option>
                                <option value="5">May</option>
                                <option value="6">İyul </option>
                                <option value="7">İyun </option>
                                <option value="8">Avqust </option>
                                <option value="9">Sentyabr</option>
                                <option value="10">Oktyabr </option>
                                <option value="11">Noyabr</option>
                                <option value="12">Dekabr</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-2 text-center">
                            <button class="btn btn-outline-primary" type="submit">Axtarış</button>
                        </div>
                    </form>

                    <div class="d-flex align-items-center col-11 mt-2" style="display:flex; justify-content:flex-end;">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @if (Model.Payments.HasPrev)
                                {

                                    <li class="page-item">
                                        <a asp-action="index" asp-controller="posterpayments" asp-route-page="@(Model.Payments.PageIndex-1)" asp-route-year="@(ViewBag.PPaymentsYear)" asp-route-month="@(ViewBag.PPaymentsMonth)" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.Payments.TotalPages; i++)
                                {
                                    <li aria-current="page" class="page-item" @(Model.Payments.PageIndex == i ? "active" : "" )>
                                        <a asp-action="index" asp-controller="posterpayments" asp-route-page="@i" asp-route-year="@(ViewBag.PPaymentsYear)" asp-route-month="@(ViewBag.PPaymentsMonth)" class="page-link">@i</a>
                                    </li>
                                }
                                @if (Model.Payments.HasNext)
                                {
                                    <li class="page-item">
                                        <a asp-action="index" asp-controller="posterpayments" asp-route-page="@(Model.Payments.PageIndex+1)" asp-route-year="@(ViewBag.PPaymentsYear)" asp-route-month="@(ViewBag.PPaymentsMonth)" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

                </div>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>İstİfadəçİ adı</th>
                                <th>Elan adı</th>
                                <th>Servİs</th>
                                <th>Mənbə</th>
                                <th>Servİs növü</th>
                                <th>Müddət</th>
                                <th>Pul</th>
                                <th>Tarİx</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var payments in Model.Payments)
                            {
                                <tr>
                                    <td class="text-center">@(payments.AppUserId !=null?(payments.AppUser.Name):("-"))</td>
                                    <td class="text-center">@((payments.Posters.PosterFeatures.Name.Length>30)?(payments.Posters.PosterFeatures.Name.Substring(0,30)):(payments.Posters.PosterFeatures.Name))</td>
                                    <td class="text-center">@(payments.Service == PaymentService.PosterPayment?"Elan ödənişi":"")
                                    <td class="text-center">@(payments.Source == Source.Balance?"Balans":"Bank Kartı")</td>
                                    <td class="text-center">@(payments.ServiceType == ServiceType.Premium?"Premium":"VİP")</td>
                                    <td class="text-center">@payments.Duration gün</td>
                                    <td class="text-center">@payments.Amount ₼ </td>
                                    <td class="text-center">@payments.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--/ Bordered Table -->
    </div>
    <!-- / Content -->
</div>

@section Scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}