    
@{
    ViewData["Title"] = "Index";
    DateTime now = DateTime.UtcNow;

}
@model UserTermViewModel
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Şəhərlər </span></h4>
        <!-- Bordered Table -->
        <div class="card">
            <div class="card-body">
                @* Pagination *@
                <div class="row">
                    <form asp-action="index" asp-controller="UserTerm" asp-route-page="@ViewBag.Page" class="row d-flex">
                        <div class="d-flex align-items-center col-lg-3 col-md-4 col-sm-6 mb-2">
                            <input name="title" class="form-control me-2" type="search" placeholder="Başlıq adı" aria-label="Title">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
                            <button class="btn btn-outline-primary" type="submit">Axtarış</button>
                        </div>
                    </form>
                    <div class="d-flex align-items-center col-9 mt-2" style="display:flex; justify-content:flex-end;">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @if (Model.UserTerms.HasPrev)
                                {

                                    <li class="page-item">
                                        <a asp-action="index" asp-controller="UserTerm" asp-route-page="@(Model.UserTerms.PageIndex-1)" asp-route-title="@(ViewBag.UserTermTitle)" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.UserTerms.TotalPages; i++)
                                {
                                    <li aria-current="page" class="page-item" @(Model.UserTerms.PageIndex == i ? "active" : "" )>
                                        <a asp-action="index" asp-controller="UserTerm" asp-route-page="@i" asp-route-title="@(ViewBag.UserTermTitle)" class="page-link">@i</a>
                                    </li>
                                }
                                @if (Model.UserTerms.HasNext)
                                {
                                    <li class="page-item">
                                        <a asp-action="index" asp-controller="UserTerm" asp-route-page="@(Model.UserTerms.PageIndex+1)" asp-route-title="@(ViewBag.UserTermTitle)" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    @*<div class="d-flex justify-content-center align-items-center col-3">
                        <a style="font-size: 30px;" asp-action="create" asp-controller="UserTerm"> <i class="fa-solid fa-plus"></i> </a>
                    </div>*@
                </div>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Başlıq adı</th>
                                <th>Mətn</th>
                                <th>Son dəyişiklik tarixi</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var userTerm in Model.UserTerms)
                            {
                                <tr>
                                    <td class="text-center">@userTerm.Title </td>
                                    <td class="text-center">@Html.Raw((userTerm.Text.Length > 70 ? (userTerm.Text.Substring(0, 70)) : (userTerm.Text))) </td>
                                    <td class="text-center">@userTerm.ModifiedDate.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td class="text-center">
                                        <a asp-route-id="@userTerm.Id" asp-action="edit" asp-controller="userTerm"><i style="font-size:26px !important;" class="bx bx-edit me-1"></i> </a>
                                        <a class="delete-btn" asp-controller="userTerm" asp-action="Delete" asp-route-id="@userTerm.Id"><i style="font-size:26px !important; color:red;" class="bx bx-trash me-1 "></i> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ Bordered Table -->
    </div>
    <!-- / Content -->
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>

    <script src="~/assets/js/SweetAlertItem.js"></script>
}